@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #b6895b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6895b;
}
